

/* items*/

.container {
    
    text-align: center;
     
}
.container ul {
  list-style: none;
}
.container ul li{
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
 
 
}
.container ul li a{
  text-decoration: none;
}